export(rmlir)
export(ty)
export(atan2)
S3method("%*%", rmlir_expr)
S3method("[", rmlir_expr)
S3method("[<-", rmlir_expr)
S3method("[", rmlir_dims)
S3method("[[", rmlir_dims)
S3method("dim", rmlir_expr)
S3method("length", rmlir_dims)
S3method(Math, rmlir_expr)
S3method(Math2, rmlir_expr)
S3method(Ops, rmlir_expr)
S3method(":", rmlir_expr)
